<% provide :title do %>
Aspectos legales y condiciones de uso de la plataforma de participación de Ho Podem Tot
<% end %>

<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">
    <div class="menu-outer small-12 medium-3 column">
      <div class="menu">
        <ul class="clear">
          <li><%= link_to "A. Ámbito de aplicación de estas condiciones de uso", "#section_1" %></li>
          <li><%= link_to "B. Objetivo de la iniciativa", "#section_2" %></li>
          <li><%= link_to "C. Aspectos generales de la participación en la plataforma ara.hopodemtot.info", "#section_3" %></li>
          <li><%= link_to "D. Funcionamiento de la plataforma", "#section_4" %></li>
          <li><%= link_to "E. Seguridad y protección de los datos personales.", "#section_5" %></li>
          <li><%= link_to "F. Condiciones para el tratamiento de los contenidos proporcionados por las personas usuarias", "#section_6" %></li>
          <li><%= link_to "G. Derechos de autor y otros derechos sobre el sito web y sus contenidos", "#section_7" %></li>
        </ul>
      </div>
    </div>

    <div class="text small-12 medium-9 column">
      <h2>Aspectos legales y condiciones de uso de la plataforma de participación de Ho Podem Tot, ara.hopodemtot.info</h2>
      <p>Este aviso legal informa de manera concisa de los aspectos principales de la plataforma de participación digital (ara.hopodemtot.info), impulsada por Ho Podem Tot y que tiene por objetivo generar un espacio abierto de participación y debate ciudadano, promovr la transparencia y la trazabilidad del proceso participativo y generar espacios de participación presenciales y digitales. ara.hopodemtot.info acoge inicialmente el proceso participativo para idear un Podemos más participativo y ha de dar alojamiento a nuevos procesos participativos. </p>
      <p>El ciudadano que accede a esta plataforma se compromete a aceptar y cumplir todo lo que prevé este aviso legal y el conjunto de las disposiciones aplicables. También se compromete a hacer un uso lícito y adecuado de los contenidos y de los servicios y a abstenerse de cuanquier conducta ilegal o contraria a la buena fe y el orden público.</p>
      <p>La plataforma de participación digital (ara.hopodemtot.info) es gestionada por miembros del grupo impulsor de la iniciativa Ho Podem Tot con la colaboración de su voluntariado.</p>

      <div id="section_1">
        <h3>A. Ámbito de aplicación de estas condiciones de uso</h3>
        <p>Las condiciones de uso siguientes para la participación en la plataforma de participación digital vinculan a todas las personas que participen en este sitio web. En el momento de registrarse se os solicitará que acepteis estas condiciones.</p>
        <p>Ho Podem Tot se reserva la facultad de modificar las condiciones presentes para la plataforma y publicará en el sitio web la última versión de estas condiciones. Para manteneros informados de los cambios futuros, os aconsejamos que visiteis esta página frecuentemente. Se informará a las personas usuarias de las modificaciones cuando afecten a la privacidad y/o a la seguridad.</p>
      </div>

      <div id="section_2">
        <h3>B. Objectiu de la iniciativa</h3>
        <p> Mediante la plataforma de participación digital, Ho Podem Tot quiere fomentar la participación ciudadana de manera abierta y transparente e implicar a la ciudadanía y los diferentes círculos tanto territoriales como sectoriales en la definición de un Podemos fuerte y plurinacional, en los territorios y confluyente, todo para afrontar mejor los retos y dificultades que se plantean en la organización con el objetivo de mejorarla y abrirla de forma eficiente al conjunto de la ciudadanía. Ho Podem Tot opta por una democracia participativa, directa y deliberativa visibilizando y fomentando las iniciativas que, tanto de forma individual como colectiva, puedan contribuir a debatir, diseñar y / o valorar acciones municipales en favor del bien común. La plataforma también tiene como objetivo facilitar y visibilizar los debates, el diseño, la valoración, la negociación y la modificación de propuestas que puedan realizarse fuera de la plataforma, para poder ofrecer a la ciudadanía la máxima transparencia y a todos los miembros de Podem Catalunya una organización con mecanismos bidireccionales de participación. Igualmente, se propone poder acoger futuros procesos de participación que avancen en la dirección de la desintermediación de la relación entre el Consejo Ciudadano Catalán y el voluntariado.</p>
      </div>

      <div id="section_3">
        <h3>C. Aspectos generales de la participación en la plataforma ara.hopodemtot.info</h3>
        <p> Puede participar cualquier persona física mayor de 16 años que se haya registrado previamente en la plataforma de participación digital. Mediante la aceptación de estas condiciones de uso, la persona registrada declara que tiene 16 años o más. Los mayores de edad de los que dependen los menores son los responsables plenos de la actuación de estos menores en la plataforma de participación digital. La plataforma también prevé la posibilidad de abrir el registro a círculos sectoriales y/o territoriales .</p>
         <p> Como la plataforma de participación digital es un punto de encuentro que tiene el objetivo de debatir, compartir y valorar propuestas relacionadas con la mejora de la organización de Podemos Catalunhya, las personas usuarias están obligadas a hacer un uso diligente y de acuerdo con este objetivo. </p>
        <P> Ho Podem Tot no es responsable del uso incorrecto de la plataforma de participación digital que hagan los usuarios o de los contenidos que estas generen. Cada usuario es responsable de utilizar la plataforma correctamente, así como de la legalidad de los contenidos y de las opiniones que haya compartido. </p>
        <p> Ho Podem Tot se reserva, por tanto, el derecho a limitar el acceso a la plataforma de participación digital de opiniones, informaciones, comentarios o documentos que los usuarios quieran incorporar, y puede instalar filtros a este efecto. Todo ello se realizará únicamente con el fin de preservar el objetivo fundamental de la plataforma de participación digital. </p>
        <p> No está permitido añadir ningún contenido ilegal o no autorizado al sitio web. El contenido ilegal o no permitido, aunque no se limita a estas tipologías, incluye información que tenga las características siguientes: </p>
        <ul>
          <li> que sea falsa o engañosa; </li>
          <li> que infrinja cualquier derecho de Ho Podem Tot o de cualquier tercera parte, como por ejemplo, el copyright, las marcas registradas u otros derechos de propiedad intelectual e industrial u otros derechos relacionados; </li>
          <li> que atente contra la intimidad de un tercero, como publicar detalles personales de los participantes, como el nombre, la dirección, el número de teléfono, el correo electrónico, fotografías o cualquier otra información de carácter personal; </li>
          <li> que contenga virus, troyanos, robots u otros programas que puedan perjudicar el sitio web o los sistemas de Ho Podem Tot o el sitio web o el sistema de cualquier tercera parte, o bien que tengan la intención de eludir las medidas técnicas diseñadas para el correcto funcionamiento de la plataforma; </li>
          <li> que pretenda enviar correo basura a los usuarios o sobrecargar el sistema; </li>
          <li> que tenga el carácter de cadena de mensajes, juego piramidal o juego de azar; </li>
          <li> que tenga fines comerciales, como publicar ofertas de trabajo o anuncios; </li>
          <li> que no esté conforme con la decencia pública; en consecuencia, el contenido no debe incitar al odio, discriminar, amenazar, provocar, ni tener un sentido o un carácter sexual, violento, grosero, ni ofensivo; </li>
          <li> que infrinja una ley o una regulación aplicable; </li>
          <li> que haga campañas promoviendo el voto masivo para otras propuestas no relacionadas con el proceso y el marco de debate, y </li>
          <li> que cree múltiples usuarios simulando ser personas diferentes (astroturfing). </li>
        </ul>
        <p> Ho Podem Tot no ejerce ningún control, ni tiene medios para hacerlo, sobre la calidad, la originalidad, la autenticidad, la legalidad o la seguridad de los contenidos que los usuarios aporten a la plataforma. Sin embargo, Ho Podem Tot se reserva la potestad -a su discreción y sin aviso previo- de suspender temporalmente las actividades de un participante en el sitio web, desactivar su cuenta de la manera que sea, borrar el contenido, eliminar la cuenta o enviar un aviso, en especial, y sin limitarse a ello, en los casos siguientes: </p>
        <ul>
          <li> si se produce una infracción de estas condiciones de uso de la plataforma de participación y </li>
          <li> si Ho Podem Tot cree que la actividad de la persona participante es perjudicial para los demás, para el sitio web o para Ho Podem Tot. </li>
        <ul>
        <p>La persona participante se hace responsable del contenido de sus aportaciones y de los daños o reclamaciones de terceros que se puedan derivar. En ningún caso Ho Podem Tot no será responsable del uso indebido del sitio de la plataforma o de los contenidos que se compartan, ni responderá sobre la utilización que una persona física haga de las ideas aportadas, ni sobre la idoneidad de estas ideas, ni sobre los resultados que se deriven.</p>
<p>En caso de que el contenido incluya un enlace a otro sitio web, Ho Podem Tot no garantiza ni asume ningún tipo de responsabilidad por los daños o perjuicios debidos al acceso a los contenidos de este enlace ni tampoco por el contenido que pueda haber en este mismo enlace.
En caso de que se produzca una disputa de cualquier clase o por cualquier motivo entre los participantes en el sitio web o en un tercero, Ho Podem Tot queda eximido de toda responsabilidad por reclamaciones, demandas o daños de la naturaleza que sea que estén relacionados de alguna manera con esta disputa.</p>
      </div>
  
      <div id="section_4">
      
      <h3> D. Funcionamiento de la plataforma </h3>
        <p> Los participantes pueden acceder y navegar por la plataforma de participación digital libremente y de forma anónima. Sólo cuando quieran realizar alguna acción que implique la creación, el soporte o el comentario de una propuesta o la participación en un debate, se pedirá que introduzcan sus credenciales, para lo cual será necesario que se registren previamente. El registro que permitirá participar en la plataforma haciendo comentarios en una sección o creando propuestas debe realizarse introduciendo los datos siguientes: nombre de usuario, correo electrónico, contraseña y aceptación de las condiciones de uso. </p>
        <p> La plataforma permite la posibilidad de dar de alta en círculos sectoriales y/o territoriales, y en este caso se solicitarán los siguientes datos: nombre del círculo, portavoz, correo electrónico, teléfono, contraseña y aceptación de las condiciones de uso. </p>
        <p> Para poder apoyar las propuestas, al usuario se le requerirá que verifique su cuenta confirmando que tiene 16 años o más y que está empadronado en Cataluña. Con este fin se pedirá el código postal. Estos datos serán utilizados con el único objetivo de verificar la cuenta, y no se utilizarán con posterioridad. </p>
        <p> La persona registrada puede interactuar con la plataforma de las siguientes maneras: </p>
        <ul>
          <li> Creando una propuesta. Cada usuario puede dar de alta una propuesta o más de una. Las propuestas se publicarán automáticamente.</li>
          <li> Reafirmante las propuestas creadas por los usuarios o por el mismo grupo impulsor Ho Podem Tot a través de los soportes. Las propuestas aparecerán con el número de apoyos recibidos. Cada usuario podrá apoyar sólo una vez en una misma propuesta, aunque pueda cambiar este apoyo una vez dado (es decir, sacar un soporte).</li>
          <li> Comentando las propuestas del resto de usuarios. Cada propuesta puede ser comentada por el resto de usuarios, que pueden argumentar las razones del apoyo, proporcionarles hay argumentos favorables, mostrar el desacuerdo con argumentos contrarios a la propuesta o introducir mejoras, o hacer comentarios genéricos como argumentos neutros. Cada comentario puede recibir votos a favor o en contra.</li>
        </ul>
        <p> La fase de discusión y soportes de propuestas de actuaciones durará un período aproximado de dos meses. Una vez finalizado el proceso, se ordenarán las propuestas con más apoyos de cada eje y línea estratégica independientemente de propuestas por el mismo grupo impulsor Ho Podem Tot. Una propuesta puede situarse entre las propuestas que han recibido más apoyos, con el objetivo de ser estudiada para recibir una respuesta del equipo de Ho Podem Tot, así como ser estudiada por incluirla en el documento final. Sin embargo, no se descarta la utilización de esta funcionalidad -de recogida de propuestas- para procesos de participación futuros. </p>
        <p> Así Ho Podem Tot estudiará las propuestas con más apoyos a escala de la organización de Podemos Catalunya y para cada comarca, repartidas proporcionalmente por ejes y líneas estratégicas, y dará respuesta. </p>
        <p> En su conjunto, entre la escala de los municipios y los comarcales, existe el compromiso de proporcionar el máximo de respuestas técnicas y organizativas con el objetivo de ofrecer el máximo de respuestas de calidad. </p>
      </div>
      <div id = "section 5">
       <h3> E. Seguridad y protección de los datos personales </h3>
        <p> Para garantizar el correcto funcionamiento de la plataforma, se recogen datos de carácter personal. Los datos que se piden al interesado son los estrictamente necesarios para la correcta prestación del servicio solicitado (principio de calidad de los datos). De acuerdo con la Ley Orgánica 15/1999, de 13 de diciembre, de protección de datos de carácter personal, le informamos de que sus datos personales se incorporarán al fichero de Participación Ciudadana Ho Podem Tot, con el fin de participar en el proceso de definición del nuevo Programa de actuación municipal. Sus datos no serán cedidos a terceros. Puede ejercitar los derechos de acceso, rectificación, cancelación y oposición dirigiéndose por correo electrónico Ho Podem Tot: hopodemtot@gmail.com, indicando claramente en el asunto "Ejercicio de Derecho LOPD". </p>
       </div>
       
       <div id = "section 6">
          <h3> F. Condiciones para el tratamiento de los contenidos proporcionados por los usuarios </h3>
           <p> Las condiciones presentes regulan los términos aplicables al contenido enviado por los usuarios de esta plataforma mediante el formulario correspondiente (en adelante, el "contenido"). Estas condiciones se aplican tanto al contenido remitido inicialmente a la plataforma de participación digital como cualquier contenido que se envíe con posterioridad o se manifieste a Ho Podem Tot: </p>
           <ul>
            <li><b> No-confidencialidad</b>: Todo el contenido enviado por el usuario a Ho Podem Tot debe ser susceptible de ser conocido por el público en general. Por lo tanto, Ho Podem Tot tratará dicho contenido como información no confidencial.
            <li><b> Procedimiento </b>: En caso de que Ho Podem Tot esté interesado en el contenido enviado por el usuario, se pondrá en contacto para solicitarle información adicional. Esta información tendrá el carácter de no confidencial, sin perjuicio de que, en caso de que las partes consideren la necesidad de intercambiar información de carácter confidencial, se firme un acuerdo de confidencialidad. Ho Podem Tot se reserva el derecho de no contactar con los usuarios que le hayan remitido el contenido. Todo ello sin perjuicio de lo establecido en el apartado relativo a "Derechos de propiedad intelectual e industrial". En el supuesto que Ho Podem Tot, a su discreción, decide contactar con determinados usuarios, estos usuarios conocen y aceptan que haciendo esto Ho Podem Tot no adquiere ningún compromiso.</li>
            <li><b> Publicidad o difusión de los contenidos presentados </b>: Los participantes en la plataforma de participación digital Ho Podemos Todo declaran conocer y aceptar el hecho de que la información aportada podrá ser publicada en las webs propiedad de Ho Podem Tot, así como a través de otros medios que la organización considere oportunos para dar a conocer esta iniciativa. </li>
            <li><b> no devolución del material </b>: Ho Podem Tot no tiene ninguna obligación de devolver el contenido enviado por los usuarios. </li>
            <li><b> Procedimiento de aviso y de retirada </b>: Ho Podem Tot procesará las peticiones de eliminación o de retirada de contenidos que incumplan las condiciones de uso que hayan añadido los participantes. Asimismo, cualquier persona, con motivos razonados si se incumple el aviso legal y las condiciones de uso presentes, puede solicitar la retirada de contenidos a Ho Podem Tot enviando un correo electrónico a la dirección hopodemtot@gmail.com . Ho Podem Tot se reserva el derecho de hacer las comprobaciones o verificaciones oportunas con carácter previo a la retirada de cualquier contenido. </li>
            </ul>
         </div>
         <div id = "section 7">
            <h3> G. Derechos de autor y otros derechos sobre el sitio web y sus contenidos </h3>
             <p> Ho Podem Tot fomenta las licencias abiertas, las obras derivadas y la reutilización y la modificación de estas obras siempre que se reconozca la autoría original y se mantenga la misma licencia. Por lo tanto, permitirá la reutilización de todas las informaciones y los datos difundidos por medio de esta web, siempre que no se indique lo contrario, y tendrán por defecto una licencia Creative Commons - Reconocimiento - Compartir Igual (CC-BY-SA) con las condiciones siguientes: </p>
             <ul>
             <li><b> Reconocimiento </b>: Debe reconocer adecuadamente la autoría, proporcionar un enlace a la licencia e indicar si se han realizado cambios. Puede hacerlo de cualquier manera razonable, pero no de una manera que sugiera que tiene el apoyo del licenciante o lo recibe por el uso que haga. </li>
             <li><b> Compartir Igual </b>. Si remezclado, transformar o crear a partir del material, debe difundir sus contribuciones bajo la misma licencia que la original.</li>
             <li><b> No hay restricciones adicionales </b>. No puede aplicar términos legales o medidas tecnológicas que legalmente restrinjan realizar lo que la licencia permite.</li>
            </ul> 
            <p> La titularidad de todos los contenidos presentados que se encuentren protegidos o sean susceptibles de encontrarse protegidos por el derecho de la propiedad industrial e intelectual corresponde a los autores y/o a los titulares de dichos contenidos. </p>
            <p> Ho Podem Tot debe respetar todos los derechos de propiedad intelectual o industrial sobre el contenido remitidos por los usuarios, y no asume ninguna responsabilidad, directa o indirecta, respecto de cualquier tipo de controversia, disputa y / o litigio que se pueda derivar de la publicación, la divulgación y / o la difusión de los contenidos aportados sin el consentimiento preceptivo de sus titulares legítimos. </p>
            <p> Como principio general, los datos personales no se comunicarán a terceros , excepto cuando la comunicación haya sido autorizada por el usuario, o la información sea requerida por la autoridad judicial, el ministerio fiscal o la policía judicial, o se dé alguno de los supuestos regulados en el artículo 11 de la Ley orgánica 15 / 1999, de 13 de diciembre, de protección de datos de carácter personal. </p>
            </div>
    </div>
  </div>
</div>
